.a-card.dashboard {
	height: unset;
	padding-top: 30px;
	padding-bottom: 30px;
}

.a-card-img.dashboard {
	margin: unset;
	width: 128px;
	height: 128px;
}

.a-card-title.dashboard {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.clickable {
	cursor: pointer;
}

img.guild-icon-image {
	margin-right: 10px;
	vertical-align: middle;
}

.title img.guild-icon-image {
	height: 80px;
	width: 80px;
	border-radius: 50%;
}

.sub-title img.guild-icon-image {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.sub-title div.text {
	display: inline-block;
}

.title div.text {
	display: inline-block;
}

@media screen and (min-width: 1366px) {
	.h-title.error-404 {
		font-size: 35px !important;
		line-height: 45px !important;
	}
}