.stats-wrapper {
    width: calc(100vw - 2*var(--wrapper-sides));
    max-width: calc(1700px - 2*var(--wrapper-sides));
    margin-top: 40px;
}

.stats-wrapper a {
    color: #f39c12;
}

.stats-wrapper .block {
    overflow: hidden;
    background: rgba(36, 36, 36, 0.3);
    color: #FFF;
    font: 12px manrope-bold!important;
    margin: 0 10px 20px;
}
.stats-wrapper .block-header {
    text-align: center;
    font-size: 30px;
    padding: 10px 0 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.stats-wrapper .first-block,
.stats-wrapper .second-block,
.stats-wrapper .third-block {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.stats-wrapper .first-block > div {
    height: 500px;
}

.stats-wrapper .first-block > div:first-child {
    width: 65%;
    display: flex;
    flex-direction: column;
}
.stats-wrapper .first-block > div:first-child > div,
.stats-wrapper .second-block > div { 
    flex: 1;
    flex-shrink: 0;
}
.stats-wrapper .first-block > div:first-child > div:last-child { 
    margin-bottom: 0;
}

.stats-wrapper .first-block > div:last-child {
    width: 35%;
}
.stats-wrapper .first-block > div:last-child .block-content {
    height: calc(100% - (20px + 51px));
    margin: 0 20px;
}

.stats-wrapper .second-block {
    height: 260px;
}

.stats-wrapper .third-block > div {
    flex-basis: 33%;
    flex-grow: 0;
    height: 500px;
    overflow: hidden;
}

.stats-wrapper .third-block > div .block-content {
    overflow-y: auto;
    height: calc(90% - 20px);
}

@media screen and (max-width: 1200px) {
    .stats-wrapper .first-block {
        flex-wrap: wrap;
    }
    .stats-wrapper .second-block {
        flex-direction: column;
        height: 520px;
    }
    .stats-wrapper .third-block {
        flex-direction: column;
        height: calc(350px * 3);
    }
    .stats-wrapper .first-block > div {
        width: 100%!important;
    }
    .stats-wrapper .first-block > div:last-child {
        margin-top: 20px;
        height: 250px;
    }
}

.stats-wrapper ul {
    padding: 0;
    margin: 0;
}

.stats-wrapper .list-text, .list-index {
    display: inline-block;
    vertical-align: middle;
}

.stats-wrapper .list-index {
    padding: 0px 10px 0px 10px;
}

.stats-wrapper span {
    all: initial;
    color: white;
    font-family: monospace;
}

.stats-wrapper .list-index span {
    font-size: 32px;
}

.stats-wrapper .list-text {
    display: inline-block;
    margin: none;
}

.stats-wrapper .list-text, .list-text span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.stats-wrapper .list-text {
    max-width: 70%;
}

.stats-wrapper .list-image {
    margin-right: 10px;
    vertical-align: middle;
}

.stats-wrapper .list-user-avatar-image {
    height: 32px;
    width: 32xp;
    border-radius: 50%;
}

.stats-wrapper .list-guild-icon-image {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.stats-wrapper .list-track-source-image {
    height: 25px;
    width: 25px;
}

.stats-wrapper li {
    text-align: left;
    list-style: none;
    
    padding: 12px 0px;
}

.stats-wrapper li + li {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.error {
    color: #AD3D4B;
}

.stats-title {
    margin: 10px 0;
}